* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: rgb(1, 27, 13);
  color: rgb(245, 245, 245);
}

a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;

  .mask {
    width: 100%;
    height: 100vh;
    background-image: url(assets/bg-benito-hero.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: url(assets/txt-benito-zoom.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 40vw;
    position: relative;

    .maskColor {
      width: 100%;
      height: 100%;
      background-color: rgb(245, 245, 245);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }

  .content {
    background-color: rgba(2, 129, 63, 0.85);
    padding: 12px;
    position: absolute;
    top: 70%;
    left: 5%;
    z-index: 9;

    h1,
    a {
      font-family: "Passion One", sans-serif;
      font-weight: 400;
    }

    h1 {
      font-size: 4vw;
      margin-bottom: 8px;
    }

    a {
      width: fit-content;
      font-size: 3vw;
      display: flex;
      align-items: center;
      border-bottom: 2px solid rgb(245, 245, 245);
      padding: 4px 0;
      gap: 12px;
      transition: 0.1s;

      img {
        width: 2vw;
      }
    }

    a:hover {
      cursor: pointer;
      background-color: rgba(89, 159, 123, 0.9);
    }
  }
}

.hero::after {
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.4%, #011b0d 100%);

  z-index: 2;
}

.secaoCto {
  width: 100%;
  padding: 18vw 20vw;

  .conteudoCto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    p {
      width: 90%;
      font-size: 20px;
      text-align: center;
    }

    .linkCto {
      background-color: rgba(202, 168, 0, 0.9);
      border-radius: 32px;
      padding: 12px 24px;
      font-size: 2vw;
      font-family: "Passion One", sans-serif;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 1.5vw;
      }
    }

    .linkCto:hover {
      transition: 0.2s;
      background-color: rgba(202, 168, 0);
      cursor: pointer;
    }
  }
}

@media (max-width: 1400px) {
  .hero .content {
    h1 {
      font-size: 60px;
    }

    a {
      font-size: 40px;
    }
  }
}

@media (max-width: 700px) {
  .hero {
    .mask {
      background-image: url(assets/bg-benito-hero-mobile.webp);
      background-position: 35% 50%;
    }

    .content {
      left: 50%;
      width: 95vw;
      transform: translateX(-50%);

      h1 {
        font-size: 8vw;
        width: fit-content;
      }

      a {
        font-size: 7vw;

        img {
          width: 4.5vw;
        }
      }
    }
  }

  .secaoCto {
    padding: 40vw 10vw;
    .conteudoCto {
      p {
        font-size: 16px;
        text-align: center;
      }

      .linkCto {
        font-size: 4.5vw;

        img {
          width: 4vw;
        }
      }
    }
  }
}
